@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;600&family=Rubik:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  background-color: #010026;
  @apply text-white; /* default text color is white */
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #010026;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(10deg, #24cbff 14.53%, #fc59ff 69.36%, #ffbd0c 117.73%);
  border-radius: 10px;
}